<!DOCTYPE html>
<html id="ng-app" ng-app="acuteSelectTest">
<head>
    <title></title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="../acute.select/acute.select.js"></script>
    <script type="text/javascript" src="../acute.select/acute.dropdown.fix.js"></script>
    <link rel="stylesheet" href="../acute.select/acute.select.css"/>

    <!-- Bootstrap CSS and js -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <div ng-controller="MainCtrl">
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav nav-pills">
                        <li class="dropdown navbar-text">
                            <a href=""
                                data-toggle="dropdown"
                                data-ng-click="focusstatus = !focusstatus"
                                data-ng-class="{'filter-unselected': !filters.Status}">
                                {{dropdownItems}} <span class="caret"></span></a>
                            <ul class="dropdown-menu keep-open">
                                <li>
                                    <select class="ac-select"
                                            ac-model="filters.selectedColour"
                                            ac-options="colour.shade as colour.name for colour in colours"
                                            ac-data="colours"
                                            ac-placeholder="{{dropdownItems}}"
                                            ac-focus-when="focusstatus"
                                            ac-settings="{minWidth: '350px'}"
                                            ac-change="loadSection()">
                                    </select>
                                </li>
                            </ul>
                        </li>
                        <li class="navbar-text">
                            <a href=""
                                data-ng-click="clearFilters(); loadSection()">
                                Clear
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="alert alert-info">
                <p>Selected shade: {{filters.selectedColour}}</p>
                <p>{{message}}</p>
            </div>
          </div>
        </div>
    </div>
</body>
</html>
